body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f1de;
}

main {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 20px;
}

section { flex: 3; } /* Main content area */
aside { flex: 1; background: #eeece0; padding: 15px; border-radius: 10px; } /* Sidebar */